body {
    background-color: #888888;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}

#poke_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#poke_img {
    width: 20vw;
}

#poke_stats {
    width: 40vw;;
    height: 23vh;
    text-align: left;
    padding: 5px 10px 5px 0px;
    background-color: #ffffff;
    border-radius: 5px;
}

#poke_stats div {
    height: 20px;
    margin: 5px 0;
    padding: 5px;
    transition: 0.25s;
}

#hp {
    width: 26.67%;
    background-color: #00ff00;
}

#atk {
    width: 21.57%;
    background-color: #ff0000;
}

#def {
    width: 21.57%;
    background-color: #0000ff;
}

#sp_atk {
    width: 19.61%;
    background-color: #ff8800;
}

#sp_def {
    width: 19.61%;
    background-color: #8800ff;
}

#spd {
    width: 16.47%;
    background-color: #00ffff;
}

#random_btn {
    width: 10%;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
    border: none;
}

#random_btn:hover {
    transition: 0.25s;
    background-color: #bbbbbb;
}

#poke_form {
    display: flex;
    justify-content: center;
    margin: 2vw;
}

#generation_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.radio_container {
    font-size: 1.2em;
}